<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="style.css" />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🆔</text></svg>"
		/>
		<script type="module" src="script.js"></script>
	</head>
	<body>
		<div class="container">
			<nav class="container-fluid">
				<ul>
					<li>
						<a href="./" class="contrast">
							<b>🆔 YAID</b>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="https://github.com/hnz/yaid/yaid-ts">
							<img src="logo-js.svg" width="30" height="30" />
						</a>
					</li>
					<li>
						<a href="https://github.com/hnz/yaid/yaid-py">
							<img src="logo-py.svg" width="30" height="30" />
						</a>
					</li>
					<li>
						<a href="https://github.com/hnz/yaid/yaid-go">
							<img src="logo-go.svg" width="30" height="30" />
						</a>
					</li>
				</ul>
			</nav>

			<div class="grid">
				<article>
					<header>YAID</header>
					<input id="yaid" type="text" minlength="8" oninput="update()" />
					<button onclick="generate()">Generate</button>
					<mark id="errorBox"></mark>
				</article>

				<article>
					<header>Info</header>

					<label>
						Date
						<input type="datetime-local" id="date" onchange="updateId()" />
					</label>
					<label>
						Meta
						<input type="number" id="meta" min="0" max="255" onchange="updateId()" />
					</label>

					<label>
						Bytes
						<input id="bytes" type="text" readonly />
					</label>
				</article>
			</div>
			<!--
			<article>
				<header>Bytes</header>

				<table>
					<thead>
						<tr>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input
									type="number"
									id="byte1"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte2"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte3"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte4"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte5"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte6"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte7"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
							<td>
								<input
									type="number"
									id="byte8"
									min="0"
									max="255"
									onchange="updateId()"
								/>
							</td>
						</tr>
					</tbody>
				</table>
			</article>
-->

			{{{html}}}

		</div>
	</body>
</html>
